{% extends 'base.html' %}

{% load static %}


{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>
      {{ profile.user.first_name }} {{ profile.user.last_name }}
    </h1>
    <p>Je suis  <span class="typed" data-typed-items="{{ profile.status_job_one }}, {{ profile.status_job_two }}"></span></p>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>À propos</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{% static 'img/profile-img.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>{{ profile.status_job_one }} & {{ profile.status_job_two }}</h3>
          <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Date de Naissance:</strong> <span>{{ profile.birthday }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Site Web:</strong> <span>{{ profile.website_url }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Téléphone:</strong> <span>+242 {{ profile.phone }} </span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Ville:</strong> <span>{{ profile.city }}, {{ profile.country }}</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>{{ profile.age }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Diplôme:</strong> <span>{{ profile.degree }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{ profile.user.email }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>
                  {% if profile.available %}
                    Disponible
                  {% else %}
                    Non Disponible
                  {% endif %}
                </span></li>
              </ul>
            </div>
          </div>
          <p>
            Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
            Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  
  
   <!-- ======= Skills Section ======= -->
   <section id="skills" class="skills section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Compétence</h2>
      </div>

      <div class="row skills-content">

        {% for skill in skills %}
          <div class="col-lg-6" data-aos="fade-up">
              <div class="progress">
                <span class="skill">{{ skill.label }} <i class="val">{{ skill.pourcentage }}%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.pourcentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
          </div>
        {% endfor %}

      </div>

    </div>
  </section>
  <!-- End Skills Section -->


  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Résumé</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        <h3 class="resume-title">Education</h3>
        {% for education in educations %}
        <div class="col-lg-6" data-aos="fade-up">
              <div class="resume-item">
                <h4>{{ education.degrees }} </h4>
                <h5>{{ education.period }}</h5>
                <p><em>Centre de Formation en Infromatique CFI-CIRAS</em></p>
                <p>
                  {{ education.description }}
                </p>
              </div>
        </div>
        {% endfor %}
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Expérience Professionnelle</h3>
          <p>Aucune expérience dans une entreprise Professionnelle</p>
          <!-- ====
          <div class="resume-item">
            <h4>Senior graphic design specialist</h4>
            <h5>2019 - Present</h5>
            <p><em>Experion, New York, NY </em></p>
            <ul>
              <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
              <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
              <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
              <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
            </ul>
          </div>
          ====== -->
        </div>

      </div>


    </div>
  </section>
  <!-- End Resume Section -->



   <!-- ======= Portfolio Section ======= -->
 <section id="portfolio" class="portfolio section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Portefeuille</h2>
        <p>
          Ici vous aller trouver un ensemble des applications mobiles, web, et bien d'autre ainsi que des projets que j'ai réalisés ou contribuer
        </p>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">Tous</li>
             {% for cat in categories %}
              <li data-filter=".filter-app">{{ cat.label }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="{% static 'img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="{% static 'img/portfolio/portfolio-1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- End Portfolio Section -->



</main><!-- End #main -->



{% endblock content %}